<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="62aa67">  <td>19/01/04 23:06:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BasicSeleniumScript.testMethod()[pri:0, instance:com.MavenSelenium.product.google.BasicSeleniumScript@2b98378d]">testMethod</td> 
  <td>main@633070006</td>   <td></td> </tr>
<tr bgcolor="62aa67">  <td>19/01/04 23:06:52</td>   <td>18366</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BasicSeleniumScript.testingFirefoxScript()[pri:0, instance:com.MavenSelenium.product.google.BasicSeleniumScript@2b98378d]">testingFirefoxScript</td> 
  <td>main@633070006</td>   <td></td> </tr>
</table>
